<!DOCTYPE html>
<html>
<head>
    <title>Dashboard 1</title>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
</head>
<body>
    <h1>Dashboard 1</h1>
    <div id="chartdiv1" style="width: 100%; height: 400px;"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/data')  // Ruta para obtener datos del CSV como JSON desde Flask
                .then(response => response.json())
                .then(data => {
                    am5.ready(function() {
                        var root = am5.Root.new("chartdiv1");

                        var chart = root.container.children.push(
                            am5xy.XYChart.new(root, {
                                panX: true,
                                panY: true,
                                wheelX: "panX",
                                wheelY: "zoomX",
                                pinchZoomX: true
                            })
                        );

                        var xAxis = chart.xAxes.push(
                            am5xy.DateAxis.new(root, {
                                maxDeviation: 0.1,
                                baseInterval: {
                                    timeUnit: "day",
                                    count: 1
                                },
                                renderer: am5xy.AxisRendererX.new(root, {})
                            })
                        );

                        var yAxis = chart.yAxes.push(
                            am5xy.ValueAxis.new(root, {
                                renderer: am5xy.AxisRendererY.new(root, {})
                            })
                        );

                        var series1 = chart.series.push(
                            am5xy.LineSeries.new(root, {
                                name: "Puntos de acceso",
                                xAxis: xAxis,
                                yAxis: yAxis,
                                valueYField: "Puntos_de_acceso",
                                valueXField: "Nombre"
                            })
                        );

                        series1.data.setAll(data);

                        chart.set("cursor", am5xy.XYCursor.new(root, {}));
                    });
                })
                .catch(error => console.error('Error loading data:', error));
        });
    </script>
</body>
</html>
